/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

#gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

#gallery img {
	width: 100%;

}
#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}


/* New CSS */

body {
	background-color: #FFFEF8;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	color: #B1663C;
}

.edition {
	background-color: black;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px;

}

.edition p {
	color: white;
	font-size: 14px;
}

.edition i {
	color: white;
}

i {
	padding: 10px;
}



/* Index page */

.header-portfolio {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 20px;
}

#portfolio h2 {
	text-align: center;
	
}

button {
    border: 1px solid #1D6154;
	color: #1D6154;
	cursor: pointer;
    padding: 5px 10px;
    border-radius: 60px;
    background-color: #FFFEF8;
	font-family: 'Syne';
	font-size: 16px;
	font-weight: 700;
}

button.active {
	color: #FFFEF8;
	background-color: #1D6154;
}

#filter {
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
    gap: 10px;
}


/* Login Page */
#login {
	width: 50%;
margin: auto;
}
#login > * {
	text-align: center;

}
#login h2{
	margin-bottom: 20px;
}
#login form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#login input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#login label {
	margin: 2em 0 1em 0;
}

#login a {
    text-align: center;
    text-decoration: underline;
}

/* Modale1 */

.open-modal1 {
	font-size: 16px;
	font-weight: 400;
	cursor: pointer;
}

.modal1 {
	inset: 0;
	justify-content: center;
	align-items: center;
	border: none;
	border-radius: 10px;
}

.modal1::backdrop {
	background: rgba(0, 0, 0, 0.3);
}

.modal1-content {
	width: 100%;
	max-width: 600px;
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.close-modal1 {
	align-self: flex-end;
	cursor: pointer;
	border: none;
}

.title-modal {
	font-family: 'Work Sans';
	font-weight: 400;
	font-size: 28px;
	color: #000000;
	margin-bottom: 50px;
	text-align: center;
}

#gallery-modal {
	width: 70%;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 10px;
	border-bottom: rgba(0, 0, 0, 0.5) 1px solid;
	margin-bottom: 30px;
	padding-bottom: 30px;
	overflow: auto;
}

#gallery-modal figure {
	position: relative;
}

#gallery-modal img {
	width: 100%;
	height: auto;
	object-fit: cover;
	position: relative;
	border-radius: 2px;
}

#gallery-modal button {
	
	padding: 4px;
	border-radius: 2px;
	position: absolute;
	right: 0;
	color: #ffffff;
	background-color: black;
	border: none;
}

.open-modal2 {
	background-color : #1D6154;
	color: white;
	padding: 10px 40px;
}

.modal2 {
	inset: 0;
	justify-content: center;
	align-items: center;
	border: none;
	border-radius: 10px;
}

.modal2-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.return-modal1 {
	align-self: flex-end;
	cursor: pointer;
	border: none;
}

.close-modal2 {
	align-self: flex-end;
	cursor: pointer;
	border: none;
}

.modal2-content {
	width: 100%;
	max-width: 600px;
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#form-add-photo {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 420px;
	padding: 20px;
	
}

.modal2 label {
	font-size: 14px;
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 10px;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    background: white;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}


select {
    cursor: pointer;
}

.photo-upload {
	display: flex;
	justify-content: center;
	background-color: #E8F1F6;
	width: 420px;
	height: auto;
	cursor: pointer;
	padding : 10px;
}

#photo-placeholder {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 20px;
	padding-bottom: 20px;
}

i.fa-solid.fa-image {
	color: #b9c5cc;
	padding: 0px;
}

#uploaded-photo {
    width: 300px; 
    height: 300px; 
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; 
    
}

#uploaded-photo img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover; 
    display: block;
}






.upload-button {
	margin: 10px auto;
	padding: 10px 20px;
	color: #306685;
	background-color: #CBD6DC;
	border: none;
	cursor: pointer;
	font-weight: 500;
	font-size: 14px;
}

.info {
	font-size: 10px;
	color: #444444;
}

#uploaded-photo {
	max-width: 100%;
	max-height: 100%;
	display: none;
	top: 0;
	left: 0;
}

input[type="file"] {
	display: none;
}


#submit-add-photo {
	background-color : #1D6154;
	color: white;
	padding: 10px 40px;
}

